@import 'colors';
body {
    color: $blue;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    height: 20%;
    .navbar-brand {
        font-family: 'Russo One', sans-serif;
        font-size: 2.75em;
        color: white;
    }
    .glyphicon {
        margin: 12px;
    }
    li {
        margin-top: 6%;
        color: white;
    }

    li:hover {
        outline: 1px solid white;
    }
}

.input-holder {
    input {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.container {
    input {
        margin: 5px;
    }
    button {}
}

.main-container h2, .login {
    font-family: 'Russo One', sans-serif;
    color: white;
}

.panel {
    color: white;
    background-color: rgba(40, 26, 26, 0.78);
    h3{
        text-align: center;
    }
}
